---
import type { JSX } from 'astro/jsx-runtime';

interface Props {
    Icon: JSX.Element;
    label: string;
    id: string;
}

const { Icon, label, id } = Astro.props;
---

<div class="flex items-center gap-4 relative">
    <input
        type="checkbox"
        id={`${id}-filter`}
        class="peer w-4 h-4 appearance-none border border-slate-500 checked:bg-slate-500"
    />
    <span
        class="absolute text-white opacity-0 peer-checked:opacity-100 top-1.5 left-0.5 pointer-events-none"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-3 w-3"
            viewBox="0 0 20 20"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="1"
        >
            <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
        </svg>
    </span>
    <label
        for={`${id}-filter`}
        class="flex text-heading-foreground items-center gap-2"
    >
        <Icon className="fill-foreground w-5" /> {label}
    </label>
</div>
