---
import { projects } from "../../../catalogs/projects";
import DropdownIcon from "../../ui/icons/DropdownIcon.astro";

interface Props {
    activeProject: number;
}

const { activeProject } = Astro.props;

---

<div class="w-[250px] border-x border-stroke hidden lg:flex">
    <ul class="w-full">
        <li class="w-full">
            <p
              class="px-4 py-2 text-slate/50 border-b border-stroke flex gap-2 items-center hover:text-heading-foreground"
            >
                <DropdownIcon /> Projecs
            </p>
            <div class="flex flex-col">
                {
                    projects.map((project) => {
                        const Icon = project.icon!;
                        return (
                            <a
                                href={`/projects/${project.number}`}
                                class={`flex items-center gap-2 px-4 py-2 ${project.number === activeProject ? 'text-heading-foreground' : 'text-foreground'}`}
                            >
                                - <Icon className={`${activeProject === project.number ? "fill-heading-foreground" : "fill-foreground"} w-5`} />{" "}
                                {project.idenfiticator}
                            </a>
                        );
                    })
                }
            </div>
        </li>
    </ul>
</div>
