---
import BallIcon from "../ui/icons/BallIcon.astro";
import DropdownIcon from "../ui/icons/DropdownIcon.astro";
import FolderIcon from "../ui/icons/FolderIcon.astro";
import MovieIcon from "../ui/icons/MovieIcon.astro";
import MusicIcon from "../ui/icons/MusicIcon.astro";

---

<div class="w-[330px] border-r border-stroke flex">
    <div
        class="flex flex-col h-full w-[66px] border-x border-stroke items-center gap-6 py-6"
    >
        <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g clip-path="url(#clip0_28568_99)">
                <path
                    d="M3 3H21C21.2652 3 21.5196 3.10536 21.7071 3.29289C21.8946 3.48043 22 3.73478 22 4V20C22 20.2652 21.8946 20.5196 21.7071 20.7071C21.5196 20.8946 21.2652 21 21 21H3C2.73478 21 2.48043 20.8946 2.29289 20.7071C2.10536 20.5196 2 20.2652 2 20V4C2 3.73478 2.10536 3.48043 2.29289 3.29289C2.48043 3.10536 2.73478 3 3 3ZM12 15V17H18V15H12ZM8.414 12L5.586 14.828L7 16.243L11.243 12L7 7.757L5.586 9.172L8.414 12Z"
                    fill="#62748E"></path>
            </g>
            <defs>
                <clipPath id="clip0_28568_99">
                    <rect width="24" height="24" fill="white"></rect>
                </clipPath>
            </defs>
        </svg>
        <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g clip-path="url(#clip0_26535_2644)">
                <path
                    d="M5 20H19V22H5V20ZM12 18C9.87827 18 7.84344 17.1571 6.34315 15.6569C4.84285 14.1566 4 12.1217 4 10C4 7.87827 4.84285 5.84344 6.34315 4.34315C7.84344 2.84285 9.87827 2 12 2C14.1217 2 16.1566 2.84285 17.6569 4.34315C19.1571 5.84344 20 7.87827 20 10C20 12.1217 19.1571 14.1566 17.6569 15.6569C16.1566 17.1571 14.1217 18 12 18Z"
                    fill="#CAD5E2"></path>
            </g>
            <defs>
                <clipPath id="clip0_26535_2644">
                    <rect width="24" height="24" fill="white"></rect>
                </clipPath>
            </defs>
        </svg>
        <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g clip-path="url(#clip0_26535_2645)">
                <path
                    d="M17 4C18.5913 4 20.1174 4.63214 21.2426 5.75736C22.3679 6.88258 23 8.4087 23 10V14C23 15.5913 22.3679 17.1174 21.2426 18.2426C20.1174 19.3679 18.5913 20 17 20H7C5.4087 20 3.88258 19.3679 2.75736 18.2426C1.63214 17.1174 1 15.5913 1 14V10C1 8.4087 1.63214 6.88258 2.75736 5.75736C3.88258 4.63214 5.4087 4 7 4H17ZM10 9H8V11H6V13H7.999L8 15H10L9.999 13H12V11H10V9ZM18 13H16V15H18V13ZM16 9H14V11H16V9Z"
                    fill="#62748E"></path>
            </g>
            <defs>
                <clipPath id="clip0_26535_2645">
                    <rect width="24" height="24" fill="white"></rect>
                </clipPath>
            </defs>
        </svg>
    </div>
    <ul class="w-full">
        <li class="w-full border-b border-stroke cursor-pointer">
            <p class="px-4 py-2 text-slate/50 border-b border-stroke flex gap-2 items-center hover:text-heading-foreground"> <DropdownIcon /> Personal info</p>
            <ul id="personal-info-dropdown">
                <li>
                    <p class="flex items-center gap-2 text-sm text-foreground px-4 py-1 hover:bg-stroke hover:text-heading-foreground"> - <FolderIcon color="fill-rose-200" /> Bio</p>
                </li>
                <li class="cursor-pointer">
                    <p class="px-4 py-1 flex items-center gap-2 text-sm text-foreground hover:bg-stroke hover:text-heading-foreground"> &gt; <FolderIcon color="fill-teal-400 " /> Interests</p>
                    <ul>
                        <li class="px-8 flex gap-2 items-center text-sm text-foreground hover:bg-stroke hover:text-heading-foreground"> - <BallIcon className="fill-indigo-500 w-[16px] h-[16px]" /> Voleyball</li>
                        <li class="px-8 flex gap-2 items-center text-sm text-foreground hover:bg-stroke hover:text-heading-foreground"> - <MusicIcon className="fill-teal-500 w-[16px] h-[16px]" /> Music</li>
                        <li class="px-8 flex gap-2 items-center text-sm text-foreground hover:bg-stroke hover:text-heading-foreground"> - <MovieIcon className="fill-rose-500 w-[16px] h-[16px]" /> Movies</li>
                    </ul>
                </li>
                <li>
                    <p class="flex px-4 py-1 items-center gap-2 text-sm text-foreground hover:bg-stroke hover:text-heading-foreground"> - <FolderIcon color="fill-indigo-200 " /> Education</p>
                </li>
                <li>
                    <p class="flex px-4 py-1 items-center gap-2 text-sm text-foreground hover:bg-stroke hover:text-heading-foreground"> - <FolderIcon color="fill-indigo-200 " /> Contact me</p>
                </li>
            </ul>
        </li>
    </ul>
</div>
