---
import Tab from "../components/ui/Tab.astro";
import AboutMeLayout from "../pages/about-me/index.astro";
---

<AboutMeLayout>
    <div class="h-full flex ">
        <Tab sectionName="Contact Form">
            <div class="h-full flex justify-center">
                <form
                    class="mt-20 w-[375px] flex flex-col gap-4"
                    id="message-form"
                >
                    <div class="flex flex-col gap-1">
                        <label for="name-input" class="text-foreground">
                            _name:
                        </label>
                        <input
                            type="text"
                            name="name"
                            id="name-input"
                            class="bg-backdrop p-2 rounded text-foreground border border-border focus:ring-1 ring-slate-300 focus:outline-none"
                        />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label for="email-input" class="text-foreground">
                            _email:
                        </label>
                        <input
                            type="email"
                            name="email"
                            id="email-input"
                            class="bg-backdrop p-2 rounded text-foreground border border-border focus:ring-1 ring-slate-300 focus:outline-none"
                        />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label for="message-input" class="text-foreground">
                            _message:
                        </label>
                        <textarea
                            name="message"
                            id="message-input"
                            rows="5"
                            class="bg-backdrop p-2 rounded text-foreground border border-border focus:ring-1 ring-slate-300 focus:outline-none"
                        ></textarea>
                    </div>
                    <button 
                        id="submit-button" 
                        type="submit" 
                        class="disabled:bg-slate-700 text-[#020618] bg-primary/80 disabled:text-slate-500 p-2 rounded-lg w-fit hover:bg-primary cursor-pointer disabled:cursor-default" 
                        disabled
                    >
                        submit-message
                    </button>
                </form>
            </div>
        </Tab>
        <Tab sectionName="Message Body">
            <div class="p-4">
                <p><span class="mr-4 text-foreground">1</span> <span class="text-purple-400">const</span> <span class="text-indigo-500">button</span> <span class="text-purple-400">=</span> <span class="text-indigo-500">document.querySelector</span><span class="text-foreground">(</span><span class="text-orange-300">"#sendButton"</span><span class="text-foreground">)</span></p>
                <p><span class="mr-4 text-foreground">2</span></p>
                <p><span class="mr-4 text-foreground">3</span> <span class="text-purple-400">const</span> <span class="text-indigo-500">message</span> <span class="text-purple-400">=</span> <span class="text-foreground">&lbrace;</span> </p>
                <p><span class="mr-4 text-foreground">4</span> &nbsp;&nbsp; <span class="text-orange-300">"name"</span><span class="text-foreground">:</span> <span class="text-orange-300">"<span id="name-content"></span>"</span></p>
                <p><span class="mr-4 text-foreground">5</span> &nbsp;&nbsp; <span class="text-orange-300">"email"</span><span class="text-foreground">:</span> <span class="text-orange-300">"<span id="email-content"></span>"</span></p>
                <p><span class="mr-4 text-foreground">6</span> &nbsp;&nbsp; <span class="text-orange-300">"message"</span><span class="text-foreground">:</span> <span class="text-orange-300">"<span id="message-content"></span>"</span></p>
                <p><span class="mr-4 text-foreground">7</span> <span class="text-foreground" >&rbrace;</span></p>
                <p><span class="mr-4 text-foreground">8</span></p>
                <p><span class="mr-4 text-foreground">9</span></p>
                <p><span class="mr-4 text-foreground">10</span> <span class="text-indigo-500">button.addEventListenner</span><span class="text-foreground">(</span><span class="text-orange-300">"click"</span><span class="text-foreground">,</span> &nbsp;<span class="text-foreground">()</span> &nbsp;<span class="text-purple-400">=&gt;</span> &nbsp;<span class="text-foreground">&lbrace;</span></p>
                <p><span class="mr-4 text-foreground">11</span> &nbsp;&nbsp; <span class="text-indigo-500">form.send</span><span class="text-foreground">(</span><span class="text-indigo-500">message</span><span class="text-foreground">)</span></p>
                <p><span class="mr-4 text-foreground">12</span> <span class="text-foreground">&rbrace;</span></p>
            </div>
        </Tab>
    </div>
</AboutMeLayout>

<script>
    const nameInput = document.getElementById("name-input") as HTMLInputElement;
    const emailInput = document.getElementById("email-input") as HTMLInputElement;
    const messageInput = document.getElementById("message-input") as HTMLTextAreaElement;
    const submitButton = document.getElementById("submit-button") as HTMLButtonElement;


    const messageForm = document.getElementById("message-form");

    function isFormComplete(){
        return nameInput.value.trim().length > 0 
            && emailInput.value.trim().length > 0 
            && messageInput.value.trim().length > 4;
    }

    function performValidations(){
        const emailRegex = /^[\w.!#$%&'*+/=?^`{|}~-]+@[a-z\d](?:[a-z\d-]{0,61}[a-z\d])?(?:\.[a-z\d](?:[a-z\d-]{0,61}[a-z\d])?)*$/i;

        return emailRegex.test(emailInput.value);
    }

    function updateSubmitButtonStatus(){
        submitButton.disabled = !(isFormComplete() && performValidations());
    }

    nameInput?.addEventListener("input", (event: any) => {
        const nameContent = document.getElementById("name-content");

        if(nameContent)
            nameContent.innerText = event?.target.value;

        updateSubmitButtonStatus();
    });

    emailInput?.addEventListener("input", (event: any) => {
        const emailContent = document.getElementById("email-content");

        if(emailContent)
            emailContent.innerText = event?.target.value;

        updateSubmitButtonStatus();
    });

    messageInput?.addEventListener("input", (event: any) => {
        const messageContent = document.getElementById("message-content");

        if(messageContent)
            messageContent.innerText = event?.target.value;
        
        updateSubmitButtonStatus();
    });
    

    messageForm?.addEventListener("submit", (event: any) => {
        event.preventDefault();

        if(!isFormComplete())
            return

        // send the form

        (messageForm as HTMLFormElement).reset();
        const nameContent = document.getElementById("name-content");
        const emailContent = document.getElementById("email-content");
        const messageContent = document.getElementById("message-content");

        if(nameContent)
            nameContent.innerText = "";

        if(emailContent)
            emailContent.innerText = "";

        if(messageContent)
            messageContent.innerText = "";

        submitButton.disabled = true;

        // Display message form sended
    });
</script>