---
import GithubIcon from "./ui/icons/GithubIcon.astro"
import LinkedinIcon from "./ui/icons/LinkedinIcon.astro";
---

<footer class="h-[56px] w-full border border-stroke flex md:justify-between">
    <div class="flex h-full border-r items-center border-stroke">
        <div class="h-full border-r border-r-stroke px-6 flex items-center" >
            <p class="text-foreground text-lg">find me in:</p>
        </div>
        <a
          class="px-2 border-r border-r-stroke h-full flex items-center hover:border-b-primary hover:border-b-2 fill-foreground  hover:fill-heading-foreground"
          href="https://www.linkedin.com/in/jos%C3%A9-miguel-quiroz-benitez-60123720a"
          target="_blank"
          rel="noopener noreferrer"
        >
            <LinkedinIcon />
        </a>
    </div>
    <div class="border-x border-stroke">
        <a
          class="w-full h-full flex items-center hover:border-b-primary hover:border-b-2 text-foreground fill-foreground hover:text-heading-foreground hover:fill-heading-foreground gap-2 px-2 md:px-6"
          href="https://github.com/chinosoft-eng"
          target="_blank"
          rel="noopener noreferrer"
        >
            <span class="hidden md:block">@chinosoft-eng</span>
            <GithubIcon />
        </a>
    </div>
</footer>
